/* Start Global */
body {
	position:relative;
}
.container {
	width:1200px;
	margin:0 auto;
}


ul {
	list-style:none;
}
/* End Global */

/* Start Navigation Bar */
.navbar {
	height:50px;
}
.navbar-brand span {
	font-size:28px;
}
.navbar-brand span:first-child {
	color:#17a2b8;
	font-weight:bold;

}
.navbar-brand span:last-child {
	color:#dc3545;
	font-size:24px;
}
.navbar-nav .nav-link {
	font-size:17px;
	margin-left:12px;
	text-transform:uppercase;
	color:#08526d !important;
}
.navbar-nav .active>.nav-link {
	color:rgba(0,123,255,.5) !important;
}

/* End Navigation Bar */

/* Start Slider Header */

.slider {background-color:#888;}

.slider .carousel-inner {
	display:flex;
	align-items:top;
	justify-content:left;
}
.slider .carousel-inner .carousel-one h1 {
	position:absolute;
	left:100px;
	color:#fff;
	z-index:3;
	font-size:50px;
	border:1px solid #ccc;
	padding:20px 30px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 200px;

}
.slider .carousel-inner .carousel-two h1 {
	position:absolute;
	left:100px;
	color:#fff;
	z-index:3;
	font-size:50px;

}
.slider .carousel-inner .carousel-three h1 {
	position:absolute;
	left:100px;
	color:#fff;
	z-index:3;
	font-size:50px;
}
.slider .carousel-inner .carousel-three span {
	background-color: #fff;
    border-radius: 5px;
    padding: 0 10px;
    color:#008;
    font-weight:bold;
    border-top-left-radius: 20px;
}
.slider .carousel-inner .overlay {
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	z-index:2;
	background-color:rgba(0, 0, 0, 0.6);
}
.slider .carousel-item {
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.slider .carousel-inner .carousel-one {
	background-image: url("../images/images.jpg");
}
.slider .carousel-inner .carousel-two {
	background-image: url("../images/images2.jpg");
}
.slider .carousel-inner .carousel-three {
	background-image: url("../images/images3.jpg");
}
.slider .carousel-indicators li {
	height:8px;
}

/* End Slider Header */

/* Start Services Section */
.services {
	
	text-align:center;
	background-image:linear-gradient(white, cyan, #02bacb);
	padding:10px 0;
}

.services header h1 {
	width:170px;
	font-size:40px;
	border:1px solid #ccc;
	border-radius:20px;
	margin:20px auto;
}

.services .row {
	display:flex;
	justify-content:center;
}
.services .row .firstrow {
	background:#ccc;
	width:25%;
	padding:10px;
}
.services .row details {
	margin-left:15px;
	text-align:left;
}
.services .row .secondrow {
	background:#888;
	width:25%;
	padding:10px;
}

/* End Services Section */

/* Start Tools Section */

.tools {
	
	text-align:center;
	padding:10px 0;
	background-image:linear-gradient(#02bacb, cyan, white);
}
.tools header h2 {
	font-size:40px;
	width:170px;
	border:1px solid #888;
	border-radius:20px;
	margin:10px auto 22px;

}
.tools section {

}
.tools section .row {
	width:100%;
	margin:auto;
	display:flex;
	justify-content:center;
}
.tools section .row div {
    background: #4568ac;
    border-radius: 4px;
    border-top-right-radius: 20px;

    width: 300px;
    height: 155px;
    margin: 18px auto;
    padding: 10px;
    box-shadow:
    			10px 6px 15px #0d3e58,
    			-10px -6px 15px #0d3e58;
}
.tools section .row div > h4 {
	background:#0d3e58;
	color:#fff;
	width:100%;
	margin:0px auto 10px;
	text-align:center;
	font-size:18px;
	border-radius:4px;
	border-top-right-radius:20px;
	font-family:arial, tahoma;
}
.tools section .row div p {
	text-align:center;
	color:#ccc;
	margin:0px auto 5px;
}

/* End Tools Section */

/* Start Footer */

footer .endofcontent {
	width:100%;
	height:200px;
	background-color:#fff;
	color:#1e242c;
}
footer .endofcontent h3 {
	color:#1e242c;
	text-align:center;
	margin-top:25px;
}
footer .endofcontent ul {
	padding:20px;
	text-align:center;

}
footer .endofcontent ul li {
	display:inline-block;
	height:35px;
	margin:0 auto;
	color:#1e242c;
	text-align:center;

	
}
footer .endofcontent ul li a {
	color:#1e242c;
	border:1px solid #61564d;
	border-radius:15px;
	box-shadow:
			1px 1px 9px #0d494f,
			-1px -1px 0px #0d494f;
	padding:5px 10px 5px;
	width:150px;
	height:100px;
	text-decoration:none;
	background-color:#fff;
	transition:all .5s ease-in-out;
}
footer .endofcontent ul li a:hover {
	color:#16b8c8;
	background-color:#000;
}


/* End Footer */